.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}

.SummaryCardToggleButton img {
  transition: transform 0.2s linear;
}

.SummaryCardToggleButton.collapsed img {
  transform: rotate(180deg);
}

.container,
.container-fluid {
  background-color: #212529;
}

table {
  margin-bottom: 15px;
}

td,
th {
  border: 1px solid black;
  padding: 8px 15px;
}

tr:nth-child(even) {
  background-color: rgb(30, 34, 38);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* color: white; */
  background-color: rgb(25, 25, 25);
}

.modal-90w {
  width: 90%;
  max-width: 90%;
}

.card-subtitle {
  margin: 10px 0 10px 0;
}
