.EntityPreviewCard:hover {
  border: white solid 1px;
  color: white;
  transition: color linear 0.1s, border linear 0.1s;
}

.EntityPreviewCard {
  color: lightgray;
}

.EntityPreviewCard.chosen {
  border: lightgray 1px solid;
}

.EntityPreviewImg:hover,
.EntityPreviewBody:hover {
  cursor: pointer;
}
